---
layout: page
permalink: /usable-oob-key-verification/
title: "Usable Out-of-Band Key Verification"
nav: false
published: false # pending approval from project members
---

**Project description:**

This project was a design exploration of alternative methods of doing out-of-band key verification. It grew out of the project for interoperable + accessible E2EE. We conducted a survey of current designs for out-of-band key verification on platforms such as Signal and Matrix, and a design for time-based one time passwords to verify pairs of users in an MLS group, creating a spanning tree over the group's members to verify the entire group.

**Contributors:**
Arushi, Harrison N
